<div class="card card-body p-4 rounded-0 bg-dark text-white">

  <h3>Añade un tarea</h3>
  <form action="/tasks/add" method="POST">

    <div>
      <label for="titulo">escribe un titulo</label>
      <input
        type="text"
        name="titulo"
        placeholder="Titulo"
        id="titulo"
        class="form-control rounded-0 bg-dark text-white"
      />
    </div>

    <div>
      <label for="descripcion">Descripcion:</label>

      <textarea
        name="descripcion"
        placeholder="Descripcion"
        id="descripcion"
        class="form-control rounded-0 bg-dark text-white"
      ></textarea>
    </div>

    <button class="btn btn-primary tn-sm mt-2">Guardar</button>

  </form>
</div>