<div class="container">
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <div class="card card-body bg-dark p-4 text-white rounded-0">
                <h1>actualiza la tarea</h1>
  <form action="/edit/{{task._id}}/editar" method="POST">

  <div class="mb-3">
      <input
      type="text"
      name="titulo"
      placeholder="Titulo"
      value="{{task.titulo}}"
      class="form-control rounded-0 bg-dark text-white"
    />
  </div>
  <div class="mb-3">
      <textarea
      name="descripcion"
      rows="3"
      placeholder="Descripción"
      class="form-control rounded-0 bg-dark text-white"
    >{{task.descripcion}}</textarea>
  </div>

    <button class="btn btn-primary">editar</button>
  </form>
</div>
        </div>
    </div>
</div>